.site-layout {
  height: 100vh;

  .site-layout-content {
    background: #fff;
    padding: 24px 50px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .ant-typography {
      color: white !important;
      margin-bottom: 0 !important;
    }
  }
}

.flex {
  display: flex;
}

.text-white {
  color: white;
}

.mb-0 {
  margin-bottom: 0;
}
